body {
		background-image: url("image/back.jpg");
		background-position: center;
		background-attachment: fixed;
}
.center {
		text-align:center;
}
.left {
		text-align:left;
}
.right {
		text-align:right;
}
td, th, .smkfont {
		font-family: SUPER-MARIO-KART;	
}
 h1 {
		font-size:36;
}
 h2 {
		font-size:32;
}
 p {
		font-size:28;
}
 a {
		font-size:28;
}
.videobox {
  background-color: white;
  width: 1320px;
  height: 800px;
  border: 2px solid Black;
  padding: 10px;
  margin: 0px;
  text-align:center;
}
th {
	font-weight: bold;
	background: black;
	color: white;
	border: 1px solid black;
}

th.full {
	text-align: center;
	letter-spacing: 0.5px;
	border: 1px solid black;
}

td, th, tr {
	padding: 0.35em 1.5em;
	text-align: center;
	border: 1px solid black;
}

td:hover {
    	background-color: cyan;
	border: 1px solid white;
}

th:hover {
    	background-color: light-blue;
	border: 1px solid white;
}
table {
	border: 1px solid black;
    	background-color: black;
}
tr {
      	background-color: white;
}
a:target{
    transition:background-color 1s ease-in;
    -webkit-transition:background-color 1s ease-in;
    -moz-transition:background-color 1s ease-in;
    background-color: yellow;
}
@font-face {
   font-family: SUPER-MARIO-KART;
   src: url(SUPER-MARIO-KART.TTF);
}

/*

.mc1 th {
     	 background-image:  url("image/track/mc1.png");
	 background-position: center;
	 background-attachment: fixed;
}
.dp1 th {
     	 background-image:  url("image/track/dp1.png");
	 background-position: center;
	 background-attachment: fixed;
}
.gv1 th {
     	 background-image:  url("image/track/gv1.png");
	 background-position: center;
	 background-attachment: fixed;
}
.bc1 th {
     	 background-image:  url("image/track/bc1.png");
	 background-position: center;
	 background-attachment: fixed;
}
.mc2 th {
     	 background-image:  url("image/track/mc2.png");
	 background-position: center;
	 background-attachment: fixed;
}


.ci1 th {
     	 background-image:  url("image/track/ci1.png");
	 background-position: center;
	 background-attachment: fixed;
}
.gv2 th {
     	 background-image:  url("image/track/gv2.png");
	 background-position: center;
	 background-attachment: fixed;
}
.dp2 th {
     	 background-image:  url("image/track/dp2.png");
	 background-position: center;
	 background-attachment: fixed;
}
.bc2 th {
     	 background-image:  url("image/track/bc2.png");
	 background-position: center;
	 background-attachment: fixed;
}
.mc3 th {
     	 background-image:  url("image/track/mc3.png");
	 background-position: center;
	 background-attachment: fixed;
}
.kb1 th {
     	 background-image:  url("image/track/kb1.png");
	 background-position: center;
	 background-attachment: fixed;
}
.ci2 th {
     	 background-image:  url("image/track/ci2.png");
	 background-position: center;
	 background-attachment: fixed;
}
.vl1 th {
     	 background-image:  url("image/track/vl1.png");
	 background-position: center;
	 background-attachment: fixed;
}
.bc3 th {
     	 background-image:  url("image/track/bc3.png");
	 background-position: center;
	 background-attachment: fixed;
}
.mc4 th {
     	 background-image:  url("image/track/mc4.png");
	 background-position: center;
	 background-attachment: fixed;
}
.dp3 th {
     	 background-image:  url("image/track/dp3.png");
	 background-position: center;
	 background-attachment: fixed;
}
.kb2 th {
     	 background-image:  url("image/track/kb2.png");
	 background-position: center;
	 background-attachment: fixed;
}
.gv3 th {
     	 background-image:  url("image/track/gv3.png");
	 background-position: center;
	 background-attachment: fixed;
}
.vl2 th {
     	 background-image:  url("image/track/vl2.png");
	 background-position: center;
	 background-attachment: fixed;
}
.rr th {
     	 background-image:  url("image/track/rr.png");
	 background-position: center;
	 background-attachment: fixed;
}
*/
