body {
		background-image: url("image/back.jpg");
}
.center {
		text-align:center;
}
 h2 {
		font-size:32;
}
 p {
		font-size:28;
}
 a {
		font-size:28;
}
 h1 {
		font-size:36;
}
.videobox {
  background-color: white;
  width: 850px;
  height: 550px;
  border: 2px solid Black;
  padding: 10px;
  margin: 0px;
  text-align:center;
}
th {
	font-weight: bold;
	background: grey;
}

th.full {
	text-align: center;
	letter-spacing: 0.5px;
	border: 1px solid black;
}

td, th, tr {
	padding: 0.35em 1.5em;
	text-align: center;
	background: #ffffff;
}

td:hover {
    background-color: cyan;
}
