body {
		background-image: url("image/back.jpg");
		background-position: center;
		background-attachment: fixed;
}
.headers {
     background-color: #cccccc;     
}
.center {
		text-align:center;
}
.left {
		text-align:left;
}
.right {
		text-align:right;
}
td, th, .smkfont {
		font-family: SUPER-MARIO-KART;	
}
 h1 {
		font-size:36;
}
 h2 {
		font-size:32;
}
 p {
		font-size:28;
}
 a {
		font-size:28;
}
.videobox {
  background-color: white;
  width: 660px;
  height: 430px;
  border: 2px solid Black;
  padding: 10px;
  margin: 0px;
  text-align:center;
}
th {
	font-weight: bold;
	background: black;
	color: white;
	border: 1px solid black;
}

th.full {
	text-align: center;
	letter-spacing: 0.5px;
	border: 1px solid black;
}

td, th, tr {
	padding: 0.35em 1.5em;
	text-align: center;
	border: 1px solid black;
}

td:hover {
    	background-color: cyan;
	border: 1px solid white;
}

th:hover {
    	background-color: light-blue;
	border: 1px solid white;
}
table {
	border: 1px solid black;
    	background-color: black;
}
tr {
      	background-color: white;
}
a:target{
    transition:background-color 1s ease-in;
    -webkit-transition:background-color 1s ease-in;
    -moz-transition:background-color 1s ease-in;
    background-color: yellow;
}
@font-face {
   font-family: SUPER-MARIO-KART;
   src: url(SUPER-MARIO-KART.TTF);
}
.separ {
     background-color: #A8FFED;     
}
.separ2 {
     background-color: #E7E7E7;     
}
.separ3 {
     background-color: white;     
}
.separ4 {
     background-color: #cccccc;     
}
.separ2:hover, .separ:hover .separ2 {
    background-color: #00CE09;
}
.separ2:hover, .separ:hover {
    background-color: #00CE09;
} 
.separ4:hover, .separ3:hover .separ4 {
    background-color: #003BCE;
}
.separ4:hover, .separ3:hover {
    background-color: #003BCE;
}

th:hover ,td:hover {
	color: white;	
	background-color: black;
}
.flip {
  transform: scaleX(-1);
}
.hotbar {
  font-size:12
}
.current {
  color: green;
}

.navi {
  overflow: hidden;
  background-color: gray;
}

.navi a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
  font-size: 17px;
}

.navi a:hover {
  background-color: pink;
  color: black;
}

.navi a.current {
  background-color: green;
  color: white;
}
